Django==1.5
django-grappelli==2.4.10
South==0.8.2
opps-piston
Pillow==2.3.0
libthumbor
django-googl==0.1.1
django-haystack>=2.0
django-mptt
django-appconf
django-filebrowser==3.5.2
django-polymorphic
django-celery
django-endless-pagination
feedparser
mimeparse
redis
magicdate
