<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        
        <link rel="shortcut icon" href="../../img/favicon.ico">

        <title>How to contribute - Opps Project</title>

        <link href="../../css/bootstrap-custom.min.css" rel="stylesheet">
        <link href="../../css/font-awesome-4.0.3.css" rel="stylesheet">
        <link href="../../css/prettify-1.0.css" rel="stylesheet">
        <link href="../../css/base.css" rel="stylesheet">
        

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        
    </head>

    <body>

        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Collapsed navigation -->
        <div class="navbar-header">
            
            <!-- Expander button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            

            <!-- Main title -->
            <a class="navbar-brand" href="../..">Opps Project</a>
        </div>

        <!-- Expanded navigation -->
        <div class="navbar-collapse collapse">
            
                <!-- Main navigation -->
                <ul class="nav navbar-nav">
                
                
                    <li >
                        <a href="../..">Home</a>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            <li >
                                <a href="../../documentation/getting-started/">Getting Started</a>
                            </li>
                        
                            <li >
                                <a href="../../documentation/content_architecture/">Content Architecture</a>
                            </li>
                        
                            <li >
                                <a href="../../documentation/packages/">General Packages</a>
                            </li>
                        
                            <li >
                                <a href="../../documentation/opps-apps/">Opps Plugins</a>
                            </li>
                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuration <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            <li >
                                <a href="../../configuration/core/">Core Settings</a>
                            </li>
                        
                            <li >
                                <a href="../../configuration/cache/">Cache</a>
                            </li>
                        
                            <li >
                                <a href="../../configuration/customization/">Customization</a>
                            </li>
                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contribute <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            <li class="active">
                                <a href="./">How to contribute</a>
                            </li>
                        
                            <li >
                                <a href="../git-tips/">Git tips</a>
                            </li>
                        
                            <li >
                                <a href="../team/">The Opps team</a>
                            </li>
                        
                        </ul>
                    </li>
                
                
                </ul>
            

            
            <!-- Search, Navigation and Repo links -->
            <ul class="nav navbar-nav navbar-right">
                
                
                <li >
                    <a rel="next" href="../../configuration/customization/">
                        <i class="fa fa-arrow-left"></i> Previous
                    </a>
                </li>
                <li >
                    <a rel="prev" href="../git-tips/">
                        Next <i class="fa fa-arrow-right"></i>
                    </a>
                </li>
                
                
            </ul>
            
        </div>
    </div>
</div>

        <div class="container">
            <div class="col-md-3"><div class="bs-sidebar hidden-print affix well" role="complementary">
    <ul class="nav bs-sidenav">
    
        <li class="main active"><a href="#how-to-contribute">How to contribute</a></li>
        
    
        <li class="main "><a href="#developer-setup">Developer Setup</a></li>
        
    
        <li class="main "><a href="#architecture">Architecture</a></li>
        
    
        <li class="main "><a href="#south-migrations">South Migrations</a></li>
        
    
        <li class="main "><a href="#haystack">Haystack</a></li>
        
    
        <li class="main "><a href="#running-tests">Running Tests</a></li>
        
    
    </ul>
</div></div>
            <div class="col-md-9" role="main">

<h2 id="how-to-contribute">How to contribute</h2>
<p>Contributions are very welcome. Specially roles. If you implement a role that you think others might be using, please contribute.</p>
<p>To contribute head to <a href="https://github.com/opps/opps">opps's github page</a>, fork it and create a pull request.</p>
<p>We strive to keep the internal quality of opps to the best that we can;
Therefore, it's very important to keep some things in mind when contributing with code for opps:</p>
<ul>
<li>
<p>Test everything you can, with automated tests. If possible, please develop code with <a href="http://en.wikipedia.org/wiki/Test-driven_development">TDD</a>.
  If you're having a hard time building tests, don't hesitate to ask for help in the <a href="http://groups.google.com/group/opps-developers">opps mailing list</a>.
  We are happy to help you keep your code well-covered by tests;</p>
</li>
<li>
<p>When writing actual code, follow the conventions in <a href="http://www.python.org/dev/peps/pep-0008/">PEP 8</a>
  (except for <a href="http://www.python.org/dev/peps/pep-0008/#maximum-line-length">maximum line length</a>,
  which we don't follow because there are too many parts of the project that require large strings to be used);</p>
</li>
<li>
<p>When writing docstrings, follow the conventions in <a href="http://www.python.org/dev/peps/pep-0257">PEP 257 </a>
  (take a look at other docstrings in the project to get a feel of how we organize them);</p>
</li>
<li>
<p>Also, when writing docstrings for the API, provide examples of how that method or class works.
    Having a code example of a part of the API is really helpful for the user.</p>
</li>
</ul>
<h2 id="developer-setup">Developer Setup</h2>
<p>Software required in OS:</p>
<ul>
<li>Redis Server</li>
<li>SQLite</li>
<li>Image Lib</li>
</ul>
<p>Check out the code from the <a href="https://github.com/opps/opps">github project</a>.</p>
<pre class="prettyprint well"><code>git clone git://github.com/opps/opps.git
cd opps
</code></pre>
<p>Create a <code>virtualenv</code><em> (the example here is with <code>virtualenvwrapper</code></em>) and install all development packages::</p>
<pre class="prettyprint well"><code>mkvirtualenv opps
pip install -r requirements_dev.txt
python setup.py develop
</code></pre>
<p>Here is how to run the test suite::</p>
<pre class="prettyprint well"><code>make test
</code></pre>
<p>Here is how to build the documentation::</p>
<pre class="prettyprint well"><code>cd docs
make html
</code></pre>
<h2 id="architecture">Architecture</h2>
<p><img alt="Opps Architecture" src="https://raw.githubusercontent.com/opps/opps/master/docs/_static/opps_visualized.png" /></p>
<h2 id="south-migrations">South Migrations</h2>
<p><code>Remember this for every South migration created!</code></p>
<p>For every migration created, make the following modifications.</p>
<pre class="prettyprint well"><code class="python">
    from django.contrib.auth import get_user_model
    User = get_user_model()


    class Migration(SchemaMigration):

        def forwards(self, orm):
            # reapeat the following for every create or alter table using &quot;user&quot; relation
            db.create_table('app.model', (
                ('user', self.gf('django...ForeignKey')(to=orm[&quot;%s.%s&quot; % (User._meta.app_label, User._meta.object_name)])

        models = {
            ...
            # this should replace &quot;auth.user or accounts.customuser&quot;
            &quot;%s.%s&quot; % (User._meta.app_label, User._meta.module_name): {
                'Meta': {'object_name': User.__name__},
            }

            # repeat the following for every freezed model
            &quot;app.model&quot;: {
                'user': ('django.db.models.fields.related.ForeignKey', [], {'to': &quot;orm['%s.%s']&quot;% (User._meta.app_label, User._meta.object_name)})
            }
        }
</code></pre>

<h2 id="haystack">Haystack</h2>
<p><code>This is required in order to use the default Haystack setup</code></p>
<p>The default haystack search template is the same you find in haystack home page, the difference in opps 
is that for every indexed Model you should implement some fields, properties or methods.</p>
<p><strong>Required for search</strong></p>
<ul>
<li>title (The title used on search result)</li>
<li>search_category (It can be used to group things on tabs or just to show the category)</li>
<li>get_absolute_url (The url for search result)</li>
<li>get_thumb (optional image path for search result)</li>
</ul>
<p><strong>Example</strong></p>
<pre class="prettyprint well"><code class="python">    class MyModel(models.Model):
        title = models.CharField(max_length=255) # implemented as field
        slug = models.SlugField()
        image = models.FileField()

        # implemented as method
        def get_absolute_url(self):
            return &quot;posts/{0}&quot;.format(self.slug)

        # implemented as method
        def get_thumb(self):
            return get_thumb_url_or_something(self.image)

        # implemented as property
        @property
        def search_category(self):
            return _(' Blog post')
</code></pre>

<p>With the above in your model, you can now create your search_indexes and template and choose to index those 
fields/properties/methods or just access directly on template. (see haystack docs)</p>
<p><strong>Example of search template</strong></p>
<pre class="prettyprint well"><code class="html">    {% load images_tags %}


    &lt;h2&gt;Search&lt;/h2&gt;

    &lt;form method=&quot;get&quot; action=&quot;.&quot;&gt;
        &lt;table&gt;
            &lt;input type=&quot;search&quot; id=&quot;q&quot; name=&quot;q&quot; placeholder=&quot;Search&quot; value=&quot;{{ request.GET.q}}&quot; required&gt;
            &lt;tr&gt;
                &lt;td&gt;&amp;nbsp;&lt;/td&gt;
                &lt;td&gt;
                    &lt;input type=&quot;submit&quot; value=&quot;Search&quot;&gt;
                &lt;/td&gt;
            &lt;/tr&gt;
        &lt;/table&gt;

        {% if query %}
            &lt;h3&gt;Results&lt;/h3&gt;

            {% for result in page.object_list %}
                &lt;p&gt;
                  &lt;small&gt;{{ result.object.search_category }}&lt;/small&gt;&lt;br&gt;
                  {% if result.object.get_thumb %}
                  &lt;a href=&quot;{{ result.object.get_absolute_url }}&quot;&gt;
                      &lt;img src=&quot;{% image_url result.object.get_thumb.archive.url width=100 height=100 %}&quot; alt=&quot;{{ result.object.title}}&quot; class=&quot;span2&quot; /&gt;
                  &lt;/a&gt;
                  {% endif %}

                    &lt;a href=&quot;{{ result.object.get_absolute_url }}&quot;&gt;{{ result.object.title }}&lt;/a&gt;
                &lt;/p&gt;
            {% empty %}
                &lt;p&gt;No results found.&lt;/p&gt;
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                &lt;div&gt;
                    {% if page.has_previous %}&lt;a href=&quot;?q={{ query }}&amp;amp;page={{ page.previous_page_number }}&quot;&gt;{% endif %}&amp;laquo; Previous{% if page.has_previous %}&lt;/a&gt;{% endif %}
                    |
                    {% if page.has_next %}&lt;a href=&quot;?q={{ query }}&amp;amp;page={{ page.next_page_number }}&quot;&gt;{% endif %}Next &amp;raquo;{% if page.has_next %}&lt;/a&gt;{% endif %}
                &lt;/div&gt;
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    &lt;/form&gt;
</code></pre>

<h2 id="running-tests">Running Tests</h2>
<p>To run the test you must have an Redis instance running locally on the 6379 port (default one). Then, just type the following</p>
<pre class="prettyprint well"><code>make test
</code></pre>
<p>To run tests in multiple python versions, first install tox and then run the tox command:</p>
<pre class="prettyprint well"><code>pip install tox
tox
</code></pre>
</div>
        </div>

        <footer class="col-md-12">
            <hr>
            
            <p>Documentation built with <a href="http://www.mkdocs.org/">MkDocs</a>.</p>
        </footer>

        

        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="../../js/bootstrap-3.0.3.min.js"></script>
        <script src="../../js/prettify-1.0.min.js"></script>
        <script src="../../js/base.js"></script>
        
    </body>
</html>