{% load i18n %}
<script type="text/javascript">var go_from_select = function(opt) { window.location = window.location.pathname + opt };</script>
<ul class="nav nav-list admin-filter-{{ title|cut:' ' }}">
    <li class="nav-header">{% blocktrans with title as filter_title %} By {{ filter_title }} {% endblocktrans %}</li>
{% if choices|slice:"4:" %}
    <li>
    <select style="width: 95%;"
        onchange="go_from_select(this.options[this.selectedIndex].value)">
    {% for choice in choices %}
        <option{% if choice.selected %} selected="selected"{% endif %}
         value="{{ choice.query_string|iriencode }}">{{ choice.display }}</option>
    {% endfor %}
    </select>
    </li>
{% else %}

    {% for choice in choices %}
            <li{% if choice.selected %} class="active"{% endif %}><a href="{{ choice.query_string|iriencode }}">{{ choice.display }}</a></li>
    {% endfor %}

{% endif %}
<li class="divider"></li>
</ul>

{% comment %}
{% load i18n %}
<ul class="nav nav-list">
    <li class="nav-header">{% blocktrans with title as filter_title %} By {{ filter_title }} {% endblocktrans %}</li>
    {% for choice in choices %}
    <li{% if choice.selected %} class="active"{% endif %}><a href="{{ choice.query_string|iriencode }}">{{ choice.display }}</a></li>
    {% endfor %}
    <li class="divider"></li>
</ul>
{% endcomment %}
